/* Container kamera */
#camera-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Video kamera */
#camera {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  background: #000;
  border-radius: 14px;
}

/* Canvas overlay untuk filter & frame */
#overlayCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* penting */
  border-radius: 14px;
}

/* Pastikan container tidak collapse */
#camera-container video,
#camera-container canvas {
  max-width: 100%;
  height: auto;
}

/* Tombol */
button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
